@import "bootstrap.less";

#sidebar {
	overflow-y: scroll;
	display: inline-block;
	float: left;
	.col-md-3;
}

#sidebar.without-sidebar {
	display: none;
}

#sidebar.with-sidebat {
	display: block;
}

#content {
	float: left;
}

#content.without-sidebar {
	.col-md-12;
}

#content.with-sidebar {
	.col-md-9;
}

#handle {
	cursor: pointer;
	float: left;
}

#handle.without-sidebar {
	.glyphicon;
	.glyphicon-chevron-right;
}

#handle.with-sidebar {
	.glyphicon;
	.glyphicon-chevron-left;
}